.richtext{
	position:relative;
	font-size:30px;
	
	mix-blend-mode: difference;
	/*filter: invert(100%);*/
	z-index:5;
}
.group{position:relative;}
.body{margin:0px;}
#enow-show{transform:scale(0.5,0.5);transform-origin: 0% 0%;}
img{z-index:1;}